{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}


    <div style="text-align:right; margin 4rem;">
        {% if target_user == user %}

            <a href="{% url 'accountapp:update' pk=user.pk %}">
                <p style="display:inline; padding:2rem;text-align: right; color:white; margin 4rem auto; ">
                    개인 정보 변경
                </p>
            </a>
            <a href="{% url 'accountapp:delete' pk=user.pk %}">
                <p style="text-align: right; color:white">
                    회원 탈퇴
                </p>
            </a>
            {% if target_user.profile %}
                <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                    <p style="text-align: right; color:white">
                    프로필 수정
                    </p>
                </a>
            {% endif %}


            {% endif %}
    </div>
    <div style="text-align: center; max-width:500px; margin:4rem auto">
        <div>

            {% if target_user.profile %}
            <img style="height:15rem; width:15rem; border-radius:20rem; margin:2rem;" src="{{ target_user.profile.image.url }}" alt="">
            <h2>
                {{ target_user.profile.nickname }}

            </h2>

             <h2>
                {{ target_user.profile.message }}

            </h2>
            {% else %}
            <a href="{% url 'profileapp:create' %}">
                <h2>
                    프로필 생성
                </h2>
            </a>
            {% endif %}






        </div>
    </div>
{% endblock %}