.DevJunBlog_headerfooter_logo{
    margin: 2rem 0;  font-family: 'Rock Salt', cursive;
}
.DevJunBlog_footer_button{
    font-size: .6rem; margin: 2rem;
}
.DevJunBlog_Center_2margin{
    text-align: center; margin: 2rem 0rem;
}