.DevJunBlog_headerfooter_logo{
    margin: 2rem 0;  font-family: 'Rock Salt', cursive;
}
.DevJunBlog_footer_button{
    font-size:0.9rem;
    margin: 0rem;
    color : white;
}
.DevJunBlog_Center_2margin{
    text-align: center; margin: 2rem 0rem;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a {
    color : white;
}

a:hover{
    color : white;
    text-decoration: none;
}

h1 {
    color : white;
}

h2 {
    color : white;
}

h3 {
    color : white;
}

h4 {
    color : white;
}

h5 {
    color : white;
}

h6 {
    color : white;
}