    <div>
        <div class="DevJunBlog_Center_2margin">
        <div class="DevJunBlog_headerfooter_logo">
        <a href="{% url 'accountapp:hello_world' %}">
            <h1 style="font-size:4rem; color:white; font-weight:bold;";>DevJunBlog</h1>
        </a>
        </div>
        <div style="color:white;">
            <span>nav1</span> |
            <span>nav2</span> |
            <span>nav3</span> |
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:create' %}">
                <span style="color:white;">회원가입 |</span>
            </a>
            <a href="{% url 'accountapp:login' %}?next={{ 'accountapp:hello_world' }}">
                <span style="color:white;">로그인 </span>
            </a>

            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                <span style="color:white;">마이페이지 |</span>
            </a>
            <a href="{% url 'accountapp:logout' %}?next={{ 'accountapp:login' }}">
                <span style="color:white;">로그아웃</span>
            </a>
            {% endif %}
        </div>
    </div>